/* Global */
* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

/*main body*
use google forms to choose font family and important the codes into html file*/ 

body {
    background: linear-gradient(to bottom, #12071f, #2f204e);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
}

/*adjusting scroll behaviour*/
html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

/*anchor text*/
a {
    text-decoration: none;
    color: white;
}

/*padding gives empty space*/

.container {
    max-width: 1536px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left:auto;
    margin-right:auto;


}

/* Setting the height for each section
scroll-snap-allign makes sure that each scroll to next section aligns the page*/
section {
    height: 100vh;
    scroll-snap-align: center;
}


/* For creating responsive layouts,
for smaller screen size, container will always be 540px */

@media (min-width:640px){
    .container {
        max-width: 640px;
    }
}

@media (min-width:768px){
    .container {
        max-width: 768px;
    }
}

@media (min-width:1024px){
    .container {
        max-width: 1024px;
    }
}

@media (min-width:1280px){
    .container {
        max-width: 1280px;
    }
}

@media (min-width:1536px){
    .container {
        max-width: 1536px;
    }
}